* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: hsl(23, 100%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    height: fit-content;
    padding: 30px;
    background-color: white;
    width: 21%;
    border-style: clear;
    border-radius: 20px;
}
img {
    width: 100%;
    border-radius: 10px;
}
img, h1, h2, h3, p, section, ol, ul, hr {
    margin-bottom: 20px;
}
P {
    font-size: .8rem;
}
h2 {
    color: hsl(332, 51%, 32%);
    font-size: 1.0rem;
}
.preparation {
    margin-bottom: 0;
}
.ingredients {
    padding-left: 5px;
}
h3 {
    color: hsl(14, 45%, 36%);
}
ul, ol {
    font-size: .8rem;
}
li {
    margin-bottom: 5px;
}
section {
    height: fit-content;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 10px;
    border-style: clear;
}
ul, ol {
    list-style-position: inside;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1pt solid black;
}
footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}