* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Young Serif";
    height: 100vh;
    background-color: hsl(23, 100%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    height: fit-content;
    padding: 30px;
    background-color: white;
    width: 21%;
    border-style: clear;
    border-radius: 20px;
}
img {
    width: 100%;
    border-radius: 10px;
}
img, h1, h2, h3, p, section, ol, ul, hr {
    margin-bottom: 20px;
}
p, li, h2, table {
    font-family: "Outfit";
}
P {
    color: hsl(30, 10%, 34%);
    font-size: .7rem;
}
h1 {
    color: hsl(24, 5%, 18%);
    font-size: 1.5rem;
}
h2 {
    color: hsl(332, 51%, 32%);
    font-size: 1.0rem;
}
.preparation {
    margin-bottom: 0;
}
.ingredients {
    padding-left: 5px;
}
h3 {
    color: hsl(14, 45%, 36%);
}
ul, ol {
    font-size: .8rem;
}
li {
    color: hsl(30, 10%, 34%);
    font-size: .7rem;
    margin-bottom: 5px;
}
section {
    height: fit-content;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 10px;
    border-style: clear;
}
ul, ol {
    list-style-position: inside;
}
li::marker {
    color: hsl(14, 45%, 36%);
}
p.nutrition {
    border-style: clear;
    margin-bottom: 10px;
}
table {
    width: 100%;
    font-size: .8rem;
    border-collapse: collapse;
}
th.border-bottom, td.border-bottom {
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
th.top-cell, td.top-cell {
    padding-top: 0;
}
th.bottom-cell, td.bottom-cell {
    padding-top: 10px;
}
th {
    width: 205px;
    color: hsl(30, 10%, 34%);
    text-align: left;
    font-weight: normal;
    padding-left: 20px;
    border-style: clear;
}
td {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}
footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}